


/* breadcrums */


section{
    display: flex;
    padding:20px;
    border:1px solid lightgrey;
    background-color: white;;
    margin: 20px 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.one{
    clip-path: polygon(91% 1%, 100% 47%, 91% 99%, 0% 100%, 7% 50%, 0 0);
    height:50px;
    background-color: #D1DBEB;
    border:1px solid lightgrey;
    width:300px;
    position: relative;
    shape-outside: border-box;

}




.middle{
   
    clip-path: polygon(91% 1%, 100% 47%, 91% 99%, 0% 100%, 7% 50%, 0 0);
    height:50px;
    background-color: #D1DBEB;
    border:1px solid lightgrey;
    width:300px;

}

.end{
    clip-path: polygon(100% 0, 100% 47%, 100% 98%, 0% 100%, 7% 50%, 0 0);
    height:50px;
    background-color: #D1DBEB;
    border:1px solid lightgrey;
    width:300px;
}


.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

}

.checkbox-round:checked {
    background-color: green;
}
  
  /* general styling */
  
  .nav > a{
    color:#868686;
  }

  .active{
        background-color:#FDF0D4;
        
        border-bottom:2px solid #F3B229;
        color:#6A4800;
    
  }

/* heading 2 */



.heading2{
    margin-top:30px;
    margin-left: 15px;
}

.heading2 > a{
    font-size: 18px;
    padding-left:20px;
    text-decoration: none;
    color:grey;
} 


small{
    color:grey;
}
/* mainSection */




.left{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;;
}
.right{
    margin-left: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;;
}
textarea{
    border:1px solid #D1DBEB;
}

.input{
    background-image: url("/Users/triptiarora/pepperCloud/images/call.png");
}

.buttons{
    border:1px solid #D1DBEB;
    padding:8px 10px;
    background-color: white;

}

.buttons:hover{
    border:1px solid orange;
    color:#FA741F;
}


/* table */
table{
    border:1px solid #D1DBEB;
}



/* right */

.cotactUpdate{
    border:1px solid #D1DBEB
}

img{
    width:40px;
}